@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Lato:400,700");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94;
  --secondary-color: #E7C24F;
  --accent1-color: #A43312;
  --accent2-color: #eaedf3;

  /* change the values below to your chosen font(s) */
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Lato", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color:  #eaedf3; /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: #eaedf3; /* paragraph text on a colored background */ 
  --paragraph-color: var(--primary-color);
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: #eaedf3;
  --nav-hover-background-color: var(--primary-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #396E94;
  }
  h2 {
    text-align: center;
  }
  p{
    text-align: center;
  }

  header{
    display: grid;
    grid-template-columns: 70px auto;
    background-color:  #E7C24F; 
    border-radius: 10px;   
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
  text-align: center;
  background-color: transparent;
  color:#396E94;
  text-decoration: none ;
  padding: 20px;
  display: block;
  font-family: "Lato", sans-serif;
}
nav a:hover{
    background-color: transparent;
    color: #eaedf3;
}
.logo{
    width: 150px;
    
    border-radius: 50%;
}
body{
    padding: 30px;
}


.mySlides {
  display: none;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  
  max-width: 50%;
  position: relative;
  margin: auto;
}
.mySlides fade{
  text-align: center;
}
.Beans{
    border-radius: 50%;
    border: 1px solid#A43312;
}
.Umarok{
    border-radius: 50%;
    border: 1px solid#A43312;
}
.Chicken{
    border-radius: 50%;
    border: 1px solid#A43312;
    
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #A43312;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #396E94;
}

.text {
  background-color:  transparent;
  color: #396E94;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -1cm;
  width: 100%;
  text-align: center;
  border-radius: 60%;
}
.text1{
    color:  #396E94;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -1.5cm;
    width: 100%;
    text-align: center;
    border-radius: 50%;
   
  }
  .text2{
      color:  #396E94;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: -1cm;
      width: 100%;
      text-align: center;
      border-radius: 50%;
     
    }
/* Number text (1/3 etc) */
.numbertext {
  color: #A43312;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1cm 2px 0 2px;
  background-color: #eaedf3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #A43312;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

* {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    border-radius: 20px;
    border: 3px solid #396E94;
    padding: 10px;
    background-color: #eaedf3;
  }
  h1{
    color:#396E94;
  }
  p{
    color: #396E94;
  }
  label{
    color:#eaedf3;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #396E94;
    background: #eaedf3;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #eaedf3;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #eaedf3;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #A43312;
    color: #eaedf3;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: #A43312;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #eaedf3;
    text-align: center;
  }
  footer{
    background-color: #396E94;
    color: #eaedf3;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
footer p{
    background-color: #396E94;
    color: #eaedf3;
    text-decoration: underline;
    font-size: .9em;
    font-family: "Lato", sans-serif;
}
footer p:hover{
    background-color: transparent;
    color: #A43312;
}
.container.signin {
  width:100%;
  margin: 10px auto 4px auto;
  padding: 10px;
  box-sizing: border-box;
}


